<div class="popup-status popup-status_js hidden-item">
  <div class="popup-status__wrapper">
    <label for="popup-status-text">Что у вас нового?</label>
    <input
      type="text"
      id="popup-status-text"
      class="popup-status__field popup-status__field_js"
      name="status"
    />
    <button type="button" class="button popup-status__button_js">
      Сохранить статус
    </button>
    <button type="button" class="close-button close-button-login_js"></button>
  </div>
  <div class="popup-status__bg popup-status__bg_js"></div>
</div>
